*{
    margin: 0;
    box-sizing: border-box;
}



.container{
    max-width: 1085px;
    margin: auto;
    width: 100%;
}

.container-wrap{
    width: 90%;
    margin: auto;
}





@media (max-width: 990px){

    .magic-text__wrap{
        padding: 0 20px;
    }
}



