.kachestvo-bg{
    position: absolute;
    z-index: -10;
    transform: translate(-50%, 50%);
    top: -73%;
    left: 50%;
    width: 142%;
}

.kachestvo-bg img{
    width: 100%;
}



@media (max-width: 760px){
    .kachestvo-bg{
        position: absolute;
        z-index: -10;
        -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        top: -93%;
        left: 50%;
        width: 181%;
}
}

@media (max-width: 699px){
    .kachestvo-bg{
    position: absolute;
    z-index: -10;
    
    transform: translate(-50%, 50%);
    top: -53%;
    left: 90%;
    width: 226%;
}
}


.osoben{
    &-img{
        &-case{
        width: 50%;

        & img{
            width: 100%;
        }
    }
    

}
}
